<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>renzheng</servlet-name>
    <servlet-class>com.lgq.core.Renzheng</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.lgq.core.Success</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>com.lgq.core.CallBack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetItems</servlet-name>
    <servlet-class>com.lgq.core.GetItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xlrenzheng</servlet-name>
    <servlet-class>com.lgq.core.Xlrenzheng</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>xlsuccess</servlet-name>
    <servlet-class>com.lgq.core.Xlsuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/core/callback</url-pattern>
  </servlet-mapping>	

  <servlet-mapping>
    <servlet-name>renzheng</servlet-name>
    <url-pattern>/core/renzheng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/core/success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetItems</servlet-name>
    <url-pattern>/core/getitems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xlrenzheng</servlet-name>
    <url-pattern>/core/xlrenzheng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>xlsuccess</servlet-name>
    <url-pattern>/core/xlsuccess</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
