<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="USER_HOME" value="c:/logs" />
	<!-- 控制台输出日志 -->
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type 
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>
				<!--%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n 时间处不能使用逗号 -->
				%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/trsphoto.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>
				${USER_HOME}/trsphoto.%d{yyyy-MM-dd}.zip
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<!-- <maxHistory>30</maxHistory> -->
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>
				<!-- %date %-4relative [%thread] %-5level %logger{36} - %msg%n
				%date [%thread] %-5level %logger{36} - %msg%n -->
				%date %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <appender name="db" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<url>jdbc:mysql://127.0.0.1:3306/test</url>
			<user>root</user>
			<password>sa</password>
		</connectionSource>
	</appender> -->
	<!-- <driverClass>com.microsoft.sqlserver.jdbc.SQLServerDriver</driverClass>
		<url>jdbc:sqlserver://127.0.0.1:1433; DatabaseName=trs</url> -->

	<!-- 需要记录日志的包 -->
	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="com.coffee" level="DEBUG" /><!--  -->

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
		<!-- <appender-ref ref="db" /> -->
	</root>
</configuration>