<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
	<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521/orcl</property>
	<property name="connection.username">test</property>
	<property name="connection.password">test</property>
	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
<property name = "hibernate.search.default.directory_provider" >   
          org.hibernate.search.store.impl.FSDirectoryProvider   
</property>   
<property   name = "hibernate.search.default.indexBase" >   
          E:/temp/index   
</property >
<mapping resource="com/lgq/resources/domain.hbm.xml" />
<event type="post-update">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event>  
        <event type="post-insert">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event>  
        <event type="post-delete">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event>  
        <event type="post-collection-recreate">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event>  
        <event type="post-collection-remove">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event>  
        <event type="post-collection-update">  
            <listener class="org.hibernate.search.event.FullTextIndexEventListener" />  
        </event> 
</session-factory>
</hibernate-configuration>